.root {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 40px;
}

.btn {
  padding: 5px 10px;
  background-color: #000;
  color: #Fff;
  border-radius: 5px;
}

.input {
  padding: 5px 10px;
  border: 1px solid #000;
  border-radius: 5px;
}